.map{
	position: relative;
	width: 100%;
	min-height:90vh;
}

.map .map__card{
	padding: 1rem;
	box-shadow: 0 3px 6px rgba(0,0,0,.16);
	background: #fff;
	border-radius: 24px;
	height: 15vh;
	width: 35%;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
}
.gm-style-iw{
	max-width: 30vw !important;
	width: 25rem !important;
	height: 15vh;
	padding: 1rem !important;
}
.gm-style-iw .gm-style-iw-d{
	overflow-x: hidden !important;
}
